* {
    margin: 0;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    font-family: source-sans-pro;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    
    font-family: source-sans-pro;
    min-width: 600px;
    background: #eee;
    color: #333;
}

article {
    position: absolute;
    
    width: 600px;
    left: 50%;
    margin-left: -300px;
}

body > h1 {
    position: relative;
    
    width: 600px;
    left: 50%;
    margin-left: -300px;
    
    text-align: left;
    font-size: 58px;
    font-weight: 200;
    line-height: 90px;
}

#background {
    display: none;
    position: fixed;
    z-index: 18;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    background: rgba(238, 238, 238, 0.83);
    transition: 0.5s ease-out;
}

body > .wrapper {
    position: absolute;
    
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top: 0;
    
    height: 90px;
}

#addTask {
    position: fixed;
    z-index: 20;
    
    right: 50%;
    top: 20px;
    
    margin-right: -280px;
    
    overflow: hidden;
    height: 50px;
    width: 50px;
    
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26),
                0 2px 10px 0 rgba(0, 0, 0, 0.16);
    border-radius: 25px;
    
    background: #5677fc;
    transition: 0.5s ease-out, background 0.2s;
}

#addTaskButtom {
    position: absolute;
    
    top: 0;
    right: 0;
    
    height: 50px;
    width: 50px;
    
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    color: #fff;
    
    cursor: pointer;
    border-radius: 25px;
    
    transition: 0.5s ease-out;
}

#addTask:hover {
    background: #4e6cef;
}

#addTask.expanded:hover {
    background: #5677fc;
}

#addTaskButtom svg {
    fill: #fff;
    position: absolute;
    left: 50%;
    margin-left: -13px;
    top: 50%;
    margin-top: -13px;
}

.expanded #addTaskButtom {
    top: 13px;
    right: 13px;
    
    -webkit-transform: rotate(135deg);
    
    height: 26px;
    width: 26px;
}

.expanded #addTaskButtom svg:hover {
    fill: #ddd;
}

#addTask.expanded {
    right: 50%px;
    margin-right: -200px;
    
    width: 400px;
    height: 252px;
    
    border-radius: 4px;
    
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#addTask .wrapper {
    position: absolute;
    top: 18px;
    right: 45px;
    
    width: 340px;
    height: 220px;
    
    font-size: 18px;
    font-weight: 500;
    
    transition: 0.4s ease-out;
    opacity: 0;
}

.expanded .wrapper {
    opacity: 1 !important;
}

label {
    position: relative;
    float: left;
    width: 340px;
    height: 28px;
    font-size: 20px;
    
    line-height: 40px;
    
    margin-bottom: 4px;
    color: #fff;
}

#title {
    position: relative;
    width: 370px;
    
    float: left;
    border: none;
    height: 28px;
    
    border-radius: 2px;
    
    padding-left: 5px;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#description {
    position: relative;
    width: 370px;
    max-width: 370px;
    max-height: 82px;
    
    padding-left: 5px;
    float: left;
    border: none;
    height: 82px;
    
    border-radius: 2px;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#createTask {
    position: relative;
    float: right;
    
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    margin: 14px -30px;
    font-size: 20px;
   
    background: #fff;
    border-radius: 2px;
    color: #536dfe;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26),
                0 2px 10px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
    
    transition: 0.3s ease-out;
}

#createTask:hover {
    background: #fff;
}

#createTask:active {
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.26);
    background: #ddd;
}

.task {
    position: absolute;
    top: -250px;
    width: 580px;
    min-height: 70px;
    
    background: #fff;
    border-radius: 2px;
    
    left: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26),
                0 2px 10px 0 rgba(0, 0, 0, 0.16);
    transition: 0.5s ease-out;
}

.task > h1 {
    font-size: 26px;
    font-weight: 400;
    
    width: 520px;
    padding: 10px 0 0 10px;
    word-wrap: break-word;
    white-space: pre;
    
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.task p {
    width:  520px;
    font-size: 18px;
    padding: 4px 0 8px 10px;
    word-wrap: break-word;
    white-space: pre;
    
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.delete,
.done,
.restore,
.menu {
    position: absolute;
    
    height: 24px;
    width: 24px;
    
    text-align: center;
    
    cursor: pointer;
    color: #555;
}

svg {
/*    transition: 0.2s ease-out;*/
}

.menu {
    height: 20px;
    width: 20px;
    
    top: 8px;
    right: 4px;
}

.menu > svg {
    position: absolute;
    z-index: 1;
    right: 0;
}

.menu > svg:hover {
    fill: #5677fc;
}

.options {
    position: absolute;
    top: -10px;
    right: 0;
    
    width: 0;
    height: 40px;
    overflow: hidden;
    
    background: #333;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26),
                0 2px 10px 0 rgba(0, 0, 0, 0.16);
    cursor: default;
    
    border-radius: 2px;
    
    transition: 0.2s ease-out;
}

.options svg {
    opacity: 0;
}

.options.expanded svg {
    opacity: 1;
}

.options.expanded {
    width: 90px;
}

.options .edit,
.delete {
    position: relative;
    float: left;
    
    margin-top: 8px;
    margin-left: 10px;
    
    height: 24px;
    width: 24px;
    
    fill: #fff;
    
    cursor: pointer;
}

.delete:hover {
    fill: #e51c23;
}

.edit:hover {
    fill: #42BD41;
}

.done {
    bottom: 4px;
    right: 4px;
}

.done svg:hover {
    fill: #42BD41;
}

.restore {
    font-size: 20px;
    bottom: 5px;
    right: 5px;
}

.restore svg:hover {
    fill: #42BD41;
}

.finished {
    opacity: 0.4;
}

.deleted {
    -webkit-transform: translate3d(-600px,0,0);
    opacity: 0;
}

.task .date {
    font-size: 14px;
    padding: 0 0 5px 10px;
}

.edit.task {
    top: 50px !important;
    z-index: 200;
    
    height: 284px !important;
    width: 400px;
    left: 100px;
    
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.edit.task * {
    opacity: 0;
}

.edit.task.show * {
    opacity: 1;
}

.edit.task h1 {
    width: 400px;
    height: 60px;
    padding-left: 20px;
    padding-top: 20px;
    
    font-weight: 300;
}

.edit.task textarea {
    position: relative;
    width: 370px;
    max-width: 370px;
    max-height: 100px;
    right: 15px;
    margin-top: 10px;
    margin-left: 200px;
    
    float: right;
    border: none;
    height: 100px;
    clear: left;
    
/*    border: 1px solid #5677fc;*/
    border-radius: 2px;
    font-size: 18px;
    background: #eee;
    
    padding-left: 5px;
    
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.edit.task input {
    position: relative;
    width: 370px;
    right: 15px;
    margin-top: 10px;
    margin-left: 200px;
    
    float: right;
    border: none;
    height: 32px;
    clear: left;
    
/*    border-bottom: 2px solid #5677fc;*/
    border-radius: 2px;
    font-size: 18px;
    background: #eee;
    padding-left: 5px;
    
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#save, #cancel {
    position: relative;
    float: right;
    
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    margin: 20px 15px;
    font-size: 20px;
   
    background: #536dfe;
    border-radius: 2px;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26),
                0 2px 10px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
    
    transition: 0.3s ease-out;
}

#cancel {
    margin-right: 5px;
    color: #fff;
}

#save:hover,
#cancel:hover {
    background: #3d5afe;
}

#save:active,
#cancel:active {
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.26);
    background: #3d5afe;
}
